#gray {background-color: gray;
}
#powderblue {background-color: powderblue;
}
#pink {background-color: pink;
}
#magenta {background-color: #b30059;
}
#other {background-color: #990000;
}
#green {background-color: green;
}
#centered {text-align: center;
}